<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Success Register
    </title>
    <!-- Các thẻ meta và tiêu đề khác -->
</head>

<body>
    <h1 class="display-1 fw-bold" style="color: green;">
        <%= langData.SuccessRegister %>
    </h1>
    <p class="fs-3"> <span class="text-danger">
            Email
        </span>
        <%= langData.Activated %>
    </p>
    <a href="http://localhost:5173/login" class="btn btn-primary">
        <%= langData.GoLogin %>
    </a>
</body>

</html>

</html>